h1 {
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr, 200px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    min-height: 100vh;
    gap: 20px;
    background-color: antiquewhite;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    grid-area: header;
    background-color: tomato;
    padding: 50px;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.main-nav-list {
    display: flex;
    list-style: none;
    border: solid 2px;
    padding: 0;
    justify-content: center;
    gap: 3rem;
}

.card-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border: solid 2px;
    border-radius: 3px;
    justify-content: center;
}

.card {
    transition: transform 0.3s ease;
    border: solid 2px;
    border-radius: 8px;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    background-color: burlywood;
    text-align: center;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.features-section {
    padding: 40px;
    background-color: bisque;
}

.kursplan {

    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid;
}

.course-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #333;
}

.course-table th,
.course-table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

@media (max-width:768px) {
    body {
        background-color: aqua;

    }
}

@media (max-width: 768px) {
    .main-nav-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}